ion-content {
  --ion-background-color: rgb(36, 61, 82);
}

.image {
  display: block;
  margin: auto;
  margin-top: 20px;
  max-width: 60%;
}

.AppName {
  text-align: center;
  font-size: 24px;
}

#btn1 {
  margin-top: 40px;
}